

.jqx-popover-modal-background { z-index: 99999; }
#jqxPopover { z-index: 999999; }

.jqx-loader-modal { z-index: 99999; }
#jqxLoader  { z-index: 999991; }



.jqx-loader{

border: solid 0px !important;
    background-color: rgba(102, 102, 102, 0) !important;
}
.jqx-loader-text-bottom{
	font-family: calibri !important;
	    font-size: 16px !important;
	    color: #E0F9E0;
}

.ar_r_t {
    margin: auto;
    width: 135px;
    background: #FFF  url(../images/avatar_bg.gif) no-repeat right top;
}

.ar_l_b {
    padding: 0 12px 12px 5px;
    background: url(../images/avatar_bg.gif) no-repeat left bottom;
    text-align: center;
}

.ar_r_b {
    background: url(../images/avatar_bg.gif) no-repeat right bottom;
}

.ar_l_t {
    padding: 5px 0 0;
    background: url(../images/avatar_bg.gif) no-repeat left top;
}



#dropDownButtonContentjqxdropdownbutton{
  top:4px !important;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}



/* leave ledger css */

#tbl_leave_ledger th{
  text-align: center;
}

#tbl_leave_ledger td{
  text-align: center;
}


#tbl_leave_ledger th p{
  line-height: 12px;
  font-weight: normal;
}


.success td {
  font-weight: bold;
}



#table_device_info td{

  padding:5px !important;
}

.fc-week {
	height:120px !important;
}

.fc td, .fc th {
	    border-color: #a8c6d8;
	    background: #fff;
}
.fc td {
 color: #4a4a4a;
    font-weight: bold;
    font-size: 17px;

}

.box_1 {
	    /*background: #b8e1f9; */
	border-bottom: 1px solid #b8e1f9;
}


.leavecabinet {
	    overflow: hidden;
    background: #96d0f1;	
    /*border-bottom: 1px solid #56afe2; */
}

.leavecabinet ul{
	    margin: 0px 0px 0px 4px;
    padding: 0px;
}

.leavecabinet ul li{
	display:inline-block;
	float:left;
	    padding: 6px 3px;
}

.leavecabinet ul li p {
	    margin: 0px ;
    padding: 5px 9px;
}

.leavecabinet ul li:hover {
	cursor:pointer;
    background: #d9edf9;
}

#ca_form , #cto_form{
	display:none;
}

