table {
	border-collapse:collapse;
	font-size: 15px;
}
.signatories_div {
	
}

.signatories_div table {
	width: 50%;
}

.accom_div {
	width:100%;
}

.accom_me_mid {
	margin:auto;
	width: 650px;
}

.option_pallete {
	background: #e7e7e7;
padding: 13px 17px;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
margin-bottom:20px;
}

/*
.removeaccom_:before {
	
content: "\f0d9";
font-family: FontAwesome;
font-size: 33px;
position: relative;
top: 7px;
left: -12px;
color:#a26262;
	
}
*/
.removeaccom_ {
	/*
position: relative;
top: -13px;
border: 1px solid #a26262;
float: left;
height: 60px;
padding-right: 13px;
background: #e7c6c6;
 */
    padding: 6px 10px;
    margin: 5px 0px;
    background: #a26262;
    color: #fff;
    border-radius: 33px;
    float: left;
}

.removeaccom_:hover {
    cursor: pointer;
    background: #b37e7e;
    color: #fff;
}

.utilbtns {
	float:right;
}

.selectbtns {
	float:left;
}

.option_pallete {
	overflow:hidden;
}

.modal_body_pad {
    padding: 10px;
    width: 60%;
    margin: auto;
}

.signatories_tbl tr td{
	vertical-align: top;
	    padding: 20px 0px;
}

.ds_signature {
    position: absolute;
    margin-top: -29px;
}

  @page {
    size: 8.5in 11in;
	margin: 20px 0px 10px;
  }

  @media (max-width: 6in) {
    @page {
      size: letter;
    }
  }