.employ_cat {
	padding: 10px;
    background: #e4e4e4;
}

.review_cont {
    padding: 7px 6px 6px 6px;
    background: #e6e6e6;
    min-height: 750px;
    width: 99%;
    margin: auto;
    border: 1px solid #ccc;
}

.review_cont h4 {
	margin:0px;
}

#listofpeople {
	    margin: 0px;
    padding: 0px;
}

#listofpeople li {
	list-style:none;
	    width: 300px;
    border: 1px solid #ccc;
    background: #fff;
	float: left;
    display: inline-block;
	    padding: 9px;
		max-height:90px;
		    margin-right: 2px;
	text-align:left;
}

#listofpeople li p {
	margin:0px;
}

.thefname {
	    font-size: 17px;
}

#listofpeople li:hover {
	cursor:pointer;
	background:#f1f1f1;
}

.floatleft {
	float:left;
}

.bodyoverflow {
	overflow:hidden;
	    padding: 0px;
}

.the_dtr_view {
	    width: 67%;
    background: #ccc;
    border-right: 1px solid #ccc;
}

.the_dtr_details {
	
    background: #f1f1f1;
}

.leftdetails {
	width: 33%;
}

.rewidth {
	width: 1070px;
	height: 100%;
}

.allowbtn {
	margin: 0px;
    background: #7cd6c9;
    padding: 13px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.btnholder {
    width: 100%;
    text-align: center;
    padding: 22px 0px;
    background: #e6ffed;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 2px 2px #e2dfdf;
}

.findingbtns {
	    width: 140px;
    padding: 7px;
}

.makecenter {
	margin:auto;
}

#findingdiv {
	
}

.findingdiv {
	padding: 10px;
	display:none;
}

.findingdiv p {
	margin:0px 0px 4px;
}

.findingdiv p input[type='text'], 
.findingdiv p textarea {
	width:100%;
}

.thefindings {
	    border: 1px dotted #a9a9a9;
    padding: 12px;
    margin-top: 18px;
	    background: #f3f3f3;
}

.nofindingsyet {
	text-decoration:italic;
}

#findingsul li {
	list-style:numeric;
}

.removefindings {
	    float: right;
    font-size: 12px;
    color: red;
}

.removefindings:hover {
	cursor:pointer;
	border-bottom:1px dotted;
}

#statustext {
    text-align: center;
    color: green;
}