#rightfloatwindow {
    display: none;
    position: fixed;
    z-index: 10000;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 0px;
}

.findingsclass {
    display: inline-block;
    border: 1px solid #d29a9a;
    padding: 8px;
    border-radius: 4px;
}

#jqxcheckexact_approval {
	display:block !important;
}

.header_ff {
margin: 0px 0px 5px 0px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 2px 0px 11px;
}

.evaluatedby {
	    float: right;
}

.notyetapproved_initial {
	
}

.notyetapproved_initial p{
    margin: 0px;
    text-align: center;
    padding: 5px;
    background: #e8ecef;
}

.notyetapproved_final p:hover, .notyetapproved_initial p:hover{
	cursor:pointer;
	background:#d6d6d6;
}

.notyetapproved_final {
	
}
.notyetapproved_final p{
	margin: 0px;
    text-align: center;
    padding: 5px;
    background: #c0fdc0;
}
.notyetapproved_final p:hover{
	
}

.boxwrapper {
	padding:5px 15px;
}

.box_findings {
	width:99%;
	margin:auto;
	padding: 9px 0px;
}

.box_findings ul {
    margin: 0px;
    padding: 0px 0px 0px 10px;
}

.box_findings ul li{
	border-bottom: 1px solid #ccc;
    padding: 8px 0px;
}

.box_findings ul li p{
	margin:0px;
}

#errorsonff {
	
}

#errorsonff li{
	border: 1px solid #ccc;
    margin-bottom: 8px;
    padding: 9px;
}

#replybox {
	display:none;
}

.notifytext {
	font-size: 14px;
	margin:0px;
}
.innerwrap_float {
	height:100%;
	    padding: 5px 20px;
}

.blackerdiv {
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.dropbox_label {
	font-size: 13px;
}

.dropbox_div {
    padding: 15px 0px;
    border-bottom: 1px solid #ccc;
}

.mindabtnstyle {
	    font-size: 14px;
    margin-right: -1px;
    border: 1px solid #ccc;
    padding: 6px 17px;
    background: #e6ffed;
	float:left;
	display:inline-block;
	outline:none;
}

.mindabtnstyle:hover {
	background:#f3f3f3;
}

#date_covered_note_label {
	margin-top: 5px;
    color: red;
    font-style: italic;
    display: block;
    font-size: 16px;
    line-height: 24px;
}

.btn_group_btm {
    overflow: hidden;
    padding: 15px;
}

.cs_div_style {
    background: #fff;
    padding: 15px;
    text-align: center;
}

/*loading style*/
@keyframes lds-ball {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 108px);
    transform: translate(0, 108px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lds-ball {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 108px);
    transform: translate(0, 108px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.lds-ball {
  position: relative;
}
.lds-ball div {
    width: 15px;
    height: 15px;
  border-radius: 50%;
  background: #51CACC;
  left: 74px;
  top: 20px;
  -webkit-animation: lds-ball 1.3s linear infinite;
  animation: lds-ball 1.3s linear infinite;
}
.lds-ball {
width: auto !important;
    height: auto !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.loader_image {
	
}
/*end of loading style*/

