/*global*/
* {
	margin:0px;
	padding: 0px;
}

div {

}

.content {
	padding:0px;
	height:100%;
}

div p {
	/*
    text-align: center;
    padding-top: 2.5%;
    font-size: 13px;
    font-family: arial;
	margin:0px; 
	*/
	
    font-size: 13px;
    font-family: arial;
    margin: 0px;
}

.modal-middle-wrap {
	padding: 10px;
    margin: 10px auto;
    width: 92%;
    background: #e6e6e6;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#remaining_date {
	text-align:center;
}

#remaining_number {
	    font-size: 40px;
    text-align: center;
}

#addbalance, #adddeds {
	width:100%;
}

.content_wrapper {
    width: inherit;
    height: 100%;
    overflow: hidden;
    background: #e4e4e4;
}

.header-box p span {
	float: right;
    margin-right: -42px;
}

#closeemps {
	font-family: FontAwesome;
	background: #60737b;
    text-align: center;
    padding: 11px 10px;
    border-radius: 0px 3px 3px 0px;
	cursor:pointer;
margin-top: -12px;
}

.close_to_left:after {
    content: "\f053";
}

.close_to_left:hover {
	background:#ccc;
}

.open_to_right:after {
	content: "\f054";
}

.theheader {
	/*margin-bottom: 32px; */
	margin-top:-3px;
}

.margin_left__ {
	margin: 0px 0px 0px 23px;	
}

.margin_left_0px_ {
	margin: 0px 0px 0px 0px; 
}

.floatdiv {
	display: inline-block;
	float:left;
}

.leftbox {
	width: 17%;
	    height: inherit;
	/*overflow:hidden; */
	 /*border-right:1px solid #ccc; */
	 /**/
	 /*display:none; */
	 /**/
	 border-right: 1px solid #717171;
    box-shadow: 5px 0px 5px #888;
	    position: absolute;
    z-index: 100;
	background:#fff;
}

.rightbox {
    width: 80%;
}

.__red {
	color:red;
}

.__blue {
	color:blue;
}

.__bold {
	font-weight: bold;
}

.removethis {
    float: right;
    padding-right: 10px;
    color:#b9b8b8;
}

.removethis:hover {
	cursor: pointer;
	color:red;
}

/*end of global*/

/*left area*/
.header-box {
    background: #60737b;
    border-bottom: 1px solid #cecccc;
    color: #fff;
}

.header-box p {
    padding: 18px 15px;
    text-align: left;
    font-size: 14px;
}

.search-box {
    text-align: center;
    /*padding: 8px 20px;*/
    background: #ffffff;
    box-shadow: 0px 4px 10px #ccc;
    position: relative;
}

.search-box input[type='text'] {
    width: 100%;
    padding: 16px 10px;
    border-radius: 3px;
    border: 0px;
	text-transform:uppercase;
	outline:none;
}

.employees-box {
background: #f1f1f1;
    width: 100%;
    border-right: 1px solid #ccc;
     height: 704px;
    overflow: auto;
}	
/*end left area*/

/*right box global*/
.details-box-wrapper {
    width: inherit;
    /*height: 110px; */
}

#employeename {
    padding: 15px 7px 15px 60px;
	text-align: left;
    font-size: 20px;
    background-color:#f5f5f5;
    border-bottom: 1px solid #929292;
	color: #fff;
	text-transform:capitalize;
	background: #3f3f3f;
}

.header-details-box {
    height: 87px;
    width: inherit;
    overflow: hidden;
    border-bottom: 8px solid #84888b;
	text-align:center;
}
/* end of right box global*/

/*period*/
.periodbox {	
	/*width: 220px; */
	/*width:14%; */
	width: 23%;
	/*padding: 25px 0px 0px 0px; */
	height: inherit;
	background: #cecece !important;
	/*
	border-right: 1px solid #7b7b7b;
    box-shadow: 3px 1px 21px #a0a0a0;
	*/
	/*border-right: 3px solid #7b7b7b;*/
	border-right: 3px solid #285265;
}

.periodbox p {
	padding: 10px 0px 10px 15px !important;
}

.period-header {
    display: table;
}

.period-header p {
	display:table-cell;
	vertical-align:middle;
	font-weight:bold;
}
/*end period*/

/*particulars*/
.particularsbox {
	/*width: 245px; */
	/*width:15.5%; */
	width: 23%;
	height: inherit;
	background: #c7c7c7;
	border-right: 1px solid #7b7b7b;
}

.particular-header{
    height: 50px;
    display: table;
    width: 100%;
}

.particular-header p {
	    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
	font-weight:bold;
}

.particular-small-heads {
	/*width:49px; */
	width: 100%;
	height: 29px;

}

.blankdiv {

}

.particular-small-head-det {
    width: 19.99999999999999%;
    height: inherit;
    border-right: 1px solid #7b7b7b;
    border-top: 1px solid #7b7b7b;
    	background: #b6adad;
}

.particular-small-head-det p {
	padding: 5px 0px;
    /* padding: 0px; */
    width: 100%;
    text-align: center;
    display: block;
}

.particular-small-head-det:last-child {
	border-right:none;
}

.xdiv {

}

.daysdiv {

}

.hrsdiv {

}

.mindiv {

}
/*end of particulars*/

/*vacation leave*/
.vacationleavebox {
	/*width:18%; */
	width: 23%;
	height: inherit;
	background: #c7c7c7;
	border-right: 1px solid #7b7b7b;
}

.vacationleavebox-header {
	height: 31px;
	display:table;
	width: 100%;
}

.vacationleavebox-header p {
	display:table-cell;
	vertical-align:middle;
	font-weight:bold;
}

.vacationleave-small-heads {
	height: 48px;
	width: 100%;
}

.earnedvl {

}

.vl-small-head-det {
    /*background: #b6adad; */
	background:#c7c7c7;
    /*width: 24.77%; */
    width: 24.8%;
    height: inherit; 
    border-right: 1px solid #7b7b7b;
    border-top: 1px solid #7b7b7b;
	display:table-cell;
	vertical-align:middle;
}

.vl-small-head-det p{
    padding: 6px 0px; 
	/*
	display:table-cell;
	vertical-align:middle; 
	*/
	    text-align: center;
}

.vl-small-head-det:last-child {
	border-right:none;
}

.absutwithpayvl {

}

.red_first_bal {
	background:#fcff3f !important;
}

.balancevl, .balancesl {
 background: #aac8d6;
}

.balancevl p, .redbalance, .balancesl p {
    color: #541b23;
    font-weight: bold;
    background: #aac8d6;
}

.absutwopayvl {

}
/*end of vacation leave*/

/*sick leave*/
.sickleavebox {
	/* width:18%; */
	width: 23%;
	height: inherit;
	background: #c7c7c7;
	border-right: 1px solid #7b7b7b;
}

.sickleavebox-header {
	height: 31px;
	width: 100%;
	display:table;
}

.sickleavebox-header p {
	display:table-cell;
	vertical-align:middle;
	font-weight:bold;
}

.sickleavebox-small-heads {
	height: 48px;
	width: 100%;
}

.earnedsl {

}

.sl-small-head-det {
    background: #b6adad;
    /* width: 24.77%; */
    width: 24.9%;
    height: inherit; 
    border-right: 1px solid #7b7b7b;
    border-top: 1px solid #7b7b7b;
	display:table-cell;
	vertical-align:middle;
}

.sl-small-head-det p {
	padding: 6px 0px; 
	/*
	display:table-cell;
	vertical-align:middle;
	*/
	text-align:center;
}

.sl-small-head-det:last-child {
	border-right:none;
}

.absutwithpaysl {

}

.balancesl {
 background: #aac8d6;
}

.absutwopaysl {

}

.remarksdiv {
	display:table;
width: 8%;
    height: inherit;
    background: #ccc;
}

.remarksdiv p {
	display:table-cell;
	vertical-align:middle;
}

/*end of sick leave*/


/* contents */
	.thecontent {
    width: 100%;
    max-height: 685px;
    overflow-y: auto;
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 2px 3px #ccc;
	}

	.row_contents {
    width: 100%;
    overflow: hidden;
    /*height: 35px; */
    border-bottom: 1px solid #b9b9b9;
	}
	
	.row_contents:first-child {
		    background: #aac8d6 !important;
	}

	.row_contents input[type='text'], .row_contents select {
		    width: 100%;
    border: none;
    padding: 9px 7px;
    text-align:center;
	}

	.row_contents button {
		    width: 100%;
    border: none;
    padding: 9px 7px;
	}

	.row_contents button:hover {
		background: #d2d2d2;
		cursor: pointer;
	}

	.row_contents:nth-child(even){
		background: #efefef;
	}

	.row_contents:nth-child(odd){
		background: #e7e7e7;
	}

	.row_contents div {
		background: transparent;
		height: auto;
		border-top:none;
		/*	display:table; */
	}

	.row_contents p {
		padding: 10px 0px;
	}
/* end of contents*/

.emps_list {
	    box-shadow: inset 1px -3px 4px #d6d6d6;
    margin: 0px;
}

.emps_list li {
        padding: 5px 0px 5px 10px;
    border-bottom: 1px solid #ccc;
}

.emps_list li:hover {
	cursor:pointer;
	background:#d6d3d3;
}

.emps_list li:last-child {
	border:none;
}

.earned_span {
	font-size: 11px;
    float: right;
    margin-right: 6px;
    color: #737373;
    text-shadow: 0px 1px 0px #fff;
}

.addleave {
	float: right;
    font-size: 13px;
    padding: 5px 11px;
	/*margin-right:3px; */
	/*
    background: #d3fdff;
    border: 1px solid #66dee2;
	    color: #18686b;
	*/
}

/*
.addleave:hover {
	background: #e7feff;
    box-shadow: 0px 1px 1px #4dd9de;
}
*/

.leavetable {
	width: 100%;
}

.leavetable tr {
	
}

.leavetable tr td {
	    padding: 5px 15px;
}

.leavetable tr td table, .leavetable tr td table tr td{
	width:100%;
}

.leavetable tr td span {
	    font-size: 13px;
    color: #989898;
}

.leavetable tr td:last-child{
	    /*padding: 1px 10px; */
}

.leavetable tr td input[type='text'], .leavetable tr td select {
    width: 100%;
    padding: 5px 8px;
}

.leavetable tr td:first-child {
	/*text-align: right; */
}

.leavetable tr td input[type='button'] {
	padding: 5px 26px;
}

#leavetypes {
	display:none;
}

#add_ot_btn {
	float:left;
}

#addleavecredit {
	float:right;
	padding: 5px 11px;
	font-size: 13px;
	    margin-right: 10px;
}

.deduction_group {
	display:block;
}

.add_balance_group {
	padding: 7px 0px;
	display:none;
}

#ps_type {
	display:none;
}

.selectedname {
	background: #96d0f1 !important;
}

#adddeds {
	display:none;
}

.add_ot {
	display:none;
padding: 2px 0px;
    border: 1px solid #dadada; 
    margin: 10px;
    border-radius: 5px;
}

.save_ot_action {
	display:none;
}

.leavemgt_option {
	
}

.leavemgt_option:hover {
	background:#e2e1e1;
	cursor:pointer;
}

.option_div_pop {
    position: absolute;
    width: 150px;
    margin-top: -39px;
    margin-left: -250px;
}

.option_div_pop ul {
    margin: 0px;
}

.option_div_pop ul li{
    list-style: none;
    padding: 10px 12px;
    background: #ffa0a0;
}

.option_div_pop ul li:hover {
	cursor:pointer;
	background:#ff7979;
}

.lbl_span:before {
    content: "\f060";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
}

.lbl_span_val {
    padding: 5px 10px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin: 8px;
    background: #fff;
    font-weight: bold;
    font-size: 16px;
}

#the_name_of_emp {
float: right;
    padding: 14px 45px;
    font-size: 22px;
    font-weight: bold;
	text-transform:capitalize;
}

#the_name_of_emp div {
	margin-left:20px;
}

.td_check {
	    background: #e0e0e0;
    border: 1px solid #ccc;
}

#cto_row {
	display:none;
}

.tooltip_tooltip {
	float:left;
	display: inline-block;
}

.tooltip_msg {
display: none; 
    position: absolute;
    z-index: 100000000000000;
    width: 300px;
  
       left: 15px;
    padding: 5px;
    color: #fff !important;
	box-shadow: 0px 4px 5px #ccc;
}

.span_circle {
		background: #e2e1e1;
    padding: 1px 7px;
    border-radius: 99px;
    color: #333 !important;
}

.tooltip_tooltip:hover .tooltip_msg, .tooltip_tooltip:hover .span_circle {
	display:block;
	background: #333;
	color:#fff !Important; 
}

.otbalance_row {
	display:none;
}

#otherdeds {
	display:none;
}

.lvul_cl {
    /* overflow: hidden; */
    margin: 0px;
    height: 66px;
    position: absolute;
    z-index: 10000;
}

.lvul_cl li {
float: left;
    display: inline-block;
    padding: 22px 16px;
    height: inherit;
    border: 1px solid #848484;
    background: #fff;
    background: #fff;
    margin: 0px 2px;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 4px 3px #909090;
}
