.content-wrapper {
	/*background:#dadada; */
	background:#fff;
	padding-top:13px;
}

.content-header {
	    padding-top: 2px;
    padding-bottom: 7px;
	/*display:none; */
}

.new_navigation {
	margin: 0px;
    float: left;
    padding: 0px;
}

.new_navigation li {
    display: inline-block;
    list-style: none;
    padding: 15px;
	    color: #bae6ff;
	    margin-left: -2px;
	    border-right: 1px solid #68acd4;
}

.new_navigation li:last-child {
	/*border:none; */
}

.new_navigation li:hover {
	color:#333;
}

.new_navigation li:hover {
	cursor:pointer;
	background:#f1f1f1;
}

.new_navigation li a {
	background: #ccc;
    padding: 16px 0px;
}

#hradmin {
 
}